@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {

}

html {

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 2rem;
  padding-bottom: 2rem;
}

input[type="submit"] {
  background-color: var(--darkLavender);
  color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input,
select,
textarea {
  font-family: "Kameron", sans-serif;
  border-radius: 0.7rem;
  border: 0.5rem, solid, var(--darkLavender);
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
