@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --turquoise: #509092;
  --lightBlue: #88A2A8;
  --lightLavendar: #6D5D79;
  --darkLavendar: #544461;
  --gold: #F4E4BC;
}

html {
  background: linear-gradient(#509092, #88A2A8) no-repeat center fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="submit"] {
  background-color: var(--darkLavendar);
  color: #fff4e6;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input {
  padding: 0.5rem;
}

input, select, textarea {
  font-family: 'Kameron', sans-serif;
  border-radius: 0.7rem;
  border: 0.5rem, solid, var(--darkLavendar);
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
