@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 0.5rem;
}

input, select {
  font-family: 'Kameron', sans-serif;
  border-radius: 0.4rem;
  border: 0.25rem, solid, black;
}

label {
  font-size: 12px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #5e8d5a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
